@using CRNGroupApp.Data
@model IEnumerable<CRNGroupApp.Data.ShoppingListItem>

<p>
    @Html.ActionLink("Add Item", "CreateItem", new { id = ViewBag.ShoppingListId })
</p>

@using (Html.BeginForm())
{
    <p>
        Search your List: @Html.TextBox("SearchString") <br />
        <input type="submit" value="Filter" />
    </p>
}

    <table class="table">
        <tr>
        <th>
            @Html.DisplayNameFor(model => model.IsChecked)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Priority)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Note)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Files)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.CheckBoxFor(modelItem => item.IsChecked, new { id = item.ShoppingListItemId, @class = "itemCheckBoxes" })

            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Priority)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Note)
            </td>
            <td>
                @if (item.Files.Any(f => f.FileType == CRNGroupApp.Data.FileType.Avatar))
                { 
                    <dd>
                        <img src="~/File?id=@item.Files.First(f => f.FileType == CRNGroupApp.Data.FileType.Avatar).FileId" alt="avatar" />
                    </dd>
                }
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", "ShoppingListItem", new { id = item.ShoppingListItemId }, new { @class = "btn btn-default" })
            </td>
        </tr>
    }  
    </table>

<div>
    @Html.ActionLink("Your Shopping Lists", "Index")
</div>
@section scripts {
    <script language="javascript" text="text/javascript">
        $(document)
            .ready(function () {
                $("input.itemCheckBoxes") //css selector to find elements in page
                    .css({ "cursor": "pointer" })
                    .click(function (e) {
                        var target = $(e.target);
                        var shoppingListItemId = target.attr("id");

                        $.ajax({
                            method: "POST",
                            url: "/shoppinglist/updatecheckbox",
                            data: {
                                ShoppingListItemId: shoppingListItemId,
                                IsChecked: target.is(":checked")
                            }
                        })
                            .done(function (r) {
                                console.log("finished setting IsChecked - " + r);
                            })
                            .fail(function (r) {
                                alert("Failed to change status");
                            });


                    });
            });

    </script>
}
